{% extends 'mainapp/base.html' %}
{% load static %}
{% block main %}
<div class="row">
    <div class="col-md-8">
        <h4 class="pb-4 mb-4 blog-main border-bottom">
            Все потоки
        </h4>
        <span>Посты</span>
    </div>
    <aside class="col-md-4 blog-sidebar">
        <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">ЛУЧШИЕ КОМПАНИИ</h4>
            <p class="mb-0">
            <li>Компания №1</li>
            <li>Компания №2</li>
            <li>Компания №3</li>
            </p>
        </div>
        <div class="p-4">
            <h4 class="font-italic">Читают сейчас</h4>
            <ol class="list-unstyled mb-0">
                <li>Статья №1</li>
                <li>Статья №2</li>
                <li>Статья №3</li>
                <li>Статья №4</li>
            </ol>
        </div>
    </aside><!-- /.blog-sidebar -->
</div>
{% endblock %}
